:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /* Colors */
  --color-background-light: #242424;
  --color-background-dark: #191919;

  --color-text-light: #dcdcdc;
  --color-text-dark: #b1b1b1;

  --color-accent: #dac0ad;

  /* Spacing */
  --spacing-default: 1rem;
}

body {
  background-color: var(--color-background-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
}
